Repository Grupo-10-Pos-FIAP/cortex-bank-statement: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore: format code with prettier
  src/components/DateRangePicker/utils.ts
  src/components/Filters.tsx
  src/components/Filters/EraserIcon.tsx
  src/components/TransactionItem.tsx
  src/config/transactions.config.ts
  src/providers/QueryProvider.tsx
  src/utils/filterUtils.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore: remove test files, configs and dependencies
  .vitest.d.ts
  package.json
  src/app/root.component.test.tsx
  src/test/setup.ts
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

feat: implement client-side pagination and optimize API calls
  src/api/statement.api.ts
  src/app/root.component.tsx
  src/hooks/queries/useTransactionsQuery.ts
  src/hooks/useStatementQuery.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

refactor: standardize naming and improve error handling
  src/app/root.component.tsx
  src/components/DateRangePicker/useDateRangePicker.ts
  src/hooks/useStatementFilters.ts
  src/utils/accountStorage.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

refactor: remove dead code and optimize hooks
  src/Statement.tsx
  src/api/statement.api.ts
  src/app/root.component.tsx
  src/hooks/queries/useTransactionsQuery.ts
  src/hooks/useStatementQuery.ts
  src/types/statement.ts
  src/utils/balanceCalculator.ts
  src/utils/dateUtils.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

refactor: standardize code (remove unused params, console logs, extract constants)
  src/constants/index.ts
  src/utils/apiClient.ts
  src/utils/balanceCalculator.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore(config): improve npm scripts with explicit env vars and fix ports
  package-lock.json
  package.json
Due: prettier --write

✨ feat: force full page reload to always fetch accountId from localStorage
  src/Statement.tsx
  src/app/root.component.tsx
  src/components/InvalidAccountCard.module.css
  src/components/InvalidAccountCard.tsx
  src/components/StatementContent.tsx
  src/hooks/useSearch.ts
  src/hooks/useStatementFilters.ts
  src/hooks/useStatementQuery.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore: remove unused code
  src/hooks/useStatementQuery.ts
  src/types/statement.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

fix: correct lint errors
  src/components/DateRangePicker/DateRangePicker.tsx
  src/components/DateRangePicker/MonthYearSelector.tsx
  src/components/DateRangePicker/useDateRangePicker.ts
  src/components/DateRangePicker/utils.ts
  src/components/TransactionList.tsx
  src/hooks/useSearch.ts
  src/hooks/useStatementFilters.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

refactor: simplify components and improve organization
  src/Statement.tsx
  src/constants/index.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

docs: reorganize README structure and format
  README.md
Due: prettier --write

chore(husky): remove test scripts from pre-push hook
  .husky/pre-push
Due: none

🌈 style: prevent horizontal scroll on InvalidAccountCard page
  src/components/InvalidAccountCard.module.css
  src/components/InvalidAccountCard.tsx
  src/components/StatementHeader.tsx
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

feat(components): replace IconButton with Button in Search component
  src/components/Search.module.css
  src/components/Search.tsx
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

refactor(hooks): improve QueryClient sharing between microfrontends
  src/lib/queryClient.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

fix(hooks): improve loading state after hard refresh
  src/hooks/queries/useTransactionsQuery.ts
  src/hooks/useStatementQuery.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

fix(hooks): restore visible items count when data arrives for first time
  src/hooks/useStatementQuery.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

chore: remove comment
  src/hooks/useStatementQuery.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

feat(hooks): preserve scroll position when filters change
  src/hooks/useStatementQuery.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

feat(components): improve person name display in TransactionItem
  src/components/TransactionItem.tsx
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

feat(filters): increase max value limit and improve value range filtering
  src/components/Filters.tsx
  src/utils/filterUtils.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

refactor(utils): simplify date range filter logic
  src/utils/filterUtils.ts
Due: eslint --fix --cache --cache-location .eslintcache, prettier --write

fix: cache config vercel
  vercel.json
Due: prettier --write

📃 docs: update README
  README.md
Due: prettier --write

Path conditions:
  eslint --fix --cache --cache-location .eslintcache: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{json,md,css})) or (any of: *.{js,jsx})
